<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/css/general.css'%}" />
    <link rel="stylesheet" href="{%static '/css/dashboard.css'%}" />
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />

    <!-- GOOGLE FONTS (RUBIK) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Rubik:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Ubuntu:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- IONICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Smooth Scroll Script -->
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <!-- Main JavaScript File -->
    <script defer src="/dist/bundle.js"></script>
    <title>Lecturer dashboard</title>
  </head>
  <body>
    <div class="loggedin-page">
      <header class="loggedin-page-header">
        <a href="{%url 'index'%}">
          <img src="{% static '/img/logo2.png'%}" alt="" class="logo" />
        </a>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="{%url 'logout'%}" class="main-nav-link nav-cta"
                >Log Out</a
              >
            </li>
          </ul>
        </nav>
      </header>


      

      <main class="loggedin-page-main" id="student-main">
        
        <!-- <div>
          <h1>Hi {{user.first_name}}</h1>
          <br />
          <br />
        </div> -->

        {%if user.status == 'student'%}

        
 
          {%if assignment%}
          
            {%for assign in assignment reversed%}

            

            <section >
              <div class="course-temp">
                <h3 class="course-temp---heading" style="text-transform: uppercase;">{{assign.course_code}}</h3>
                <div class="course-temp-main">
                  <div class="course-temp-main--text">
                    <h4 class="course-temp---head">{{assign.title}}</h4>
                    <span class="course-temp---text" style="color: #fb79a7;">Deadline: {{assign.due}}</span>


                      <a href="{%url 'submit' assign.id%}" class="turn-in-btn">Turn In</a>

                  
                    <h2>mat : {{assign.mat_no}}</h2>


                    



                  </div>
                  <div class="course-temp-main--img">
                    <img src="{% static '/img/notes-icon-design-vector.jpg'%}" style="width: 50%; height: 100px;" alt="">
                  </div>
                </div>
            </section>
            {%endfor%}
          {%else%}
          <h2>No Assignments Yet</h2>
          {%endif%}

         
          <h2>{{identity}}</h2>

          <h1>{{assignment.identity}}</h1>

        


          {%elif user.status == 'lecturer'%}
          <section id="lecturer-main">
            <a href="{%url 'assignment' %}" class="course-temp" style="background-image: linear-gradient(to top left, #ffb003, #ffcb03);">
              <h3 class="course-temp---heading">Upload An Assignment</h3>
            </a>

            <a href="{%url 'view_answers'%}" class="course-temp" style="background-image: linear-gradient(to top left, #35c48d, #a2f559);">
              <h3 class="course-temp---heading">View Answers</h3>
            </a>

            <a href="{%url 'view_assignments'%}" class="course-temp" style="background-image: linear-gradient(to top left, #e52a5a, #ff585f);">
              <h3 class="course-temp---heading">View Uploaded Assignments</h3>
            </a>
          </section>
          {%endif%}
        </main>

        <aside class="loggedin-page-aside">
          <nav class="dashboard-nav">
            <ul class="dashboard-nav-list">
              <li class="dashboard-nav-li">
                <a href="{%url 'index' %}" class="dashboard-nav-link">
                  <img
                    src="{% static '/img/pti2.png'%}"
                    alt=""
                    style="width: 5%"
                  />
                </a>
              </li>
              <li class="dashboard-nav-li">
                <a href="{%url 'dashboard' %}" class="dashboard-nav-link"
                  ><span class="material-symbols-outlined"> dashboard </span></a
                >
              </li>













              {%if user.status == 'lecturer'%}
              <li class="dashboard-nav-li">
                <a href="{%url 'assignment' %}" class="dashboard-nav-link"
                  ><span class="material-symbols-outlined">
                    assignment_add
                  </span></a
                >
              </li>
              {%endif%} 

            {%if user.status == 'lecturer'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_answers'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined"> rate_review </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  settings_overscan
                </span></a
              >
            </li>
            <!-- <li>
              <ul class="courses-nav-list">
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"> </a>
                </li>
              </ul>
            </li> -->
            <li class="dashboard-nav-li">
              <a href="{%url 'profile'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  manage_accounts
                </span></a
              >
            </li>
            {%if user.status == 'student'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_assignments'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  library_books
                </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link">
                <span class="material-symbols-outlined"> settings </span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    <footer>Copyright © Powered By CSIT Group 1 2022</footer>
  </body>
</html>
