<!DOCTYPE html>
{%load static%} {% load crispy_forms_tags %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/css/general.css'%}" />
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <link rel="stylesheet" href="/css/queries.css" />
    <!-- <link rel="stylesheet" href="{%static 'cssb\bootstrap.min.css'%}" /> -->

    <link rel="shortcut icon" href="#" type="image/x-icon" />

    <!-- GOOGLE FONTS (RUBIK) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Rubik:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Ubuntu:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- IONICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Smooth Scroll Script -->
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <!-- Main JavaScript File -->
    <script defer src="{%static '/scripts/register.js'%}"></script>
    <title>Sign up</title>
    <!-- <style>
      .signin-form {
        padding-top: 9.6rem !important;
      }
    </style> -->
  </head>
  <body>
    <header class="header">
      <a href="{%url 'index'%}">
        <img src="{% static '/img/logo2.png'%}" alt="" class="logo" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a href="{%url 'index'%}" class="main-nav-link nav-cta">Home</a>
          </li>
        </ul>
      </nav>

      <button class="btn btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>

    <main>
      <div id="register-page">
        <div class="container register-page-container">
          <h2 class="welcome-heading">SIGN UP!</h2>
          <p class="small-heading">REGISTER</p>
          <nav class="main-nav">
            <ul class="main-nav-list">
              <li>
                <button id="lecturer-form" class="main-nav-link register-link">
                  Lecturer
                </button>
              </li>
              <li>
                <button id="student-form" class="main-nav-link register-link">
                  Student
                </button>
              </li>
            </ul>
          </nav>
          {%for message in messages%}
          <p style="color: rgb(236, 45, 45); font-size: 1rem">{{message}}</p>
          {%endfor%}

          <form
            action=""
            class="signin-form"
            method="post"
            id="lecturer-register-form"
          >
            {%csrf_token%}
            <div class="form-field">
              <label for="username" class="email-label">Username</label>
              <input type="text" name="username" class="email" required />
            </div>
            <div class="grid grid--2-cols">
              <div class="form-field">
                <label for="fname" class="email-label">First name</label>
                <input type="text" name="fname" class="email" required />
              </div>
              <div class="form-field">
                <label for="lname" class="email-label">Last name</label>
                <input
                  type="text"
                  name="lname"
                  class="email"
                  id="lname"
                  required
                />
              </div>
            </div>
            <div class="grid grid--2-cols">
              <div class="form-field">
                <label for="email" class="email-label">Email</label>
                <input type="email" name="email" class="email" required />
              </div>
              <div class="form-field">
                <!-- <label for="status" class="password-label">Status</label>
              <select name="status" id="" class="password">
                <option value="default"></option>
                <option value="student">Student</option>
                <option value="lecturer">Lecturer</option>
              </select> -->
                <input type="hidden" name="status" value="lecturer" />
                <input type="hidden" name="mat" class="mat_no" />
                <label for="mat" class="password-label">Course code</label>
                <input
                  type="text"
                  name="course"
                  id="mat"
                  class="password"
                  required
                />
              </div>
            </div>
            <div class="form-field">
              <label for="password" class="password-label">Password</label>
              <input
                type="password"
                class="password"
                name="password"
                required
              />
            </div>
            <div class="form-btns">
              <button class="login-btn">Submit</button>
              <!-- <a href="#" class="login-btn">SUBMIT</a> -->
            </div>
          </form>

          <form
            action=""
            class="signin-form"
            method="post"
            id="student-register-form"
          >
            {%csrf_token%}
            <div class="form-field">
              <label for="username" class="email-label">Username</label>
              <input type="text" name="username" class="email" required />
            </div>
            <div class="grid grid--2-cols">
              <div class="form-field">
                <label for="fname" class="email-label">First name</label>
                <input type="text" name="fname" class="email" required />
              </div>
              <div class="form-field">
                <label for="lname" class="email-label">Last name</label>
                <input
                  type="text"
                  name="lname"
                  class="email"
                  id="lname"
                  required
                />
              </div>
            </div>
            <div class="grid grid--2-cols">
              <div class="form-field">
                <label for="email" class="email-label">Email</label>
                <input type="email" name="email" class="email" required />
              </div>
              <div class="form-field">
                <!-- <label for="status" class="password-label">Status</label>
              <select name="status" id="" class="password">
                <option value="default"></option>
                <option value="student">Student</option>
                <option value="lecturer">Lecturer</option>
              </select> -->
                <input type="hidden" name="status" value="student" />
                <input type="hidden" name="course" class="course_no" />
                <label for="mat" class="password-label">Mat. No</label>
                <input
                  type="text"
                  name="mat"
                  id="mat"
                  class="password"
                  required
                />
              </div>
            </div>
            <div class="form-field">
              <label for="password" class="password-label">Password</label>
              <input
                type="password"
                class="password"
                name="password"
                required
              />
            </div>
            <div class="form-btns">
              <button class="login-btn">Submit</button>
              <!-- <a href="#" class="login-btn">SUBMIT</a> -->
            </div>
          </form>

          <!-- <form action="" method="POST" class="container">
            {%csrf_token%} {{form|crispy}}
            <div class="form-btns">
              <button class="login-btn">SUBMIT</button>
            </div>
          </form> -->
          <a href="{%url 'signin'%}" class="register-btn"
            >&larr; Old?, Login Here</a
          >
        </div>
      </div>
    </main>
    <footer>Copyright © Powered By CSIT Group 1 2022</footer>
    <!-- <script src="{%static 'js\bootstrap.min.js'%}"></script> -->
  </body>
</html>
