<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/css/general.css'%}" />
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <link rel="stylesheet" href="{%static '/css/dashboard.css'%}" />
    <link rel="stylesheet" href="{%static '/css/queries.css'%}" />
    <link rel="stylesheet" href="{%static 'cssb\bootstrap.min.css'%}">

    <link rel="shortcut icon" href="#" type="image/x-icon" />

    <!-- GOOGLE FONTS (RUBIK) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Rubik:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Ubuntu:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- IONICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Smooth Scroll Script -->
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <!-- Main JavaScript File -->
    <script defer src="/dist/bundle.js"></script>
    <title>Student dashboard</title>
  </head>
  <body>
    <div class="loggedin-page">
      <header class="loggedin-page-header">
        <a href="{%url 'index'%}">
          <img src="{% static '/img/logo2.png'%}" alt="" class="logo" />
        </a>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="{%url 'logout'%}" class="main-nav-link nav-cta"
                >Log Out</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <main class="loggedin-page-main">
        <section class="new-assignment container">
          {%for message in messages%}
          <h3>{{message}}</h3>
          {%endfor%} <br />
          <br />

          <h2 class="welcome-heading" style="display: block">
            {{assignment.course_code | title}}
          </h2>
          <br />
          <!-- <p class="answer-title small-heading">Assignment 1</p> -->

          <form action="" class="new-assignment-form" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="new-ass-form-field">
              <p class="assignment-deadline">Deadline: {{assignment.due}}</p>
            </div>
            <div class="new-ass-form-field">
              <label for="datetime" class="datetime-label"></label>
              <div class="image">image here</div>
            </div>
            <div class="new-ass-form-field">
              <label
                for="description"
                class="description-label"
                style="font-size: 1.2rem"
                >Description:
              </label>
              <p class="assignment-desc">{{assignment.description}}</p>

              <Label><Strong>Attachment:</Strong></Label>
              {%if assignment.attachment%}

              <img
              src="{% static '/img/attachment.png'%}"
              alt=""
              style="width: 5%"/>


              <!-- view -->
              <a href="{{assignment.attachment.url}}"  target="_blank" class="btn btn-info" style="width: 5%">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>

            </a>


            <!-- download -->

            <a href="{{assignment.attachment.url}}"  download = '{{answers.attachment.url}}'class="btn btn-success" style="width: 5%">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>

          </a>

              {%endif%}


              <textarea
                id=""
                cols="30"
                rows="10"
                class="description"
                name="answer"
                required
              ></textarea>
              <input
                type="hidden"
                value="{{assignment.title}}"
                name="assign_title"
              />
            </div>
            <div class="new-ass-form-field grid--col-1">
              <label for="attachment" class="attachment-label"
                >Attachment</label
              >
              <input type="file" name="attachment" id="" class="attachment"  required/>
            </div>
            {%if status == 'not_submitted'%}
            <button class="send-btn">SEND &Succeeds;</button>
            {%elif status == 'submitted'%}
            <a href="#" class="turn-in-btn">Submitted</a>
            {%endif%}
          </form>
          {%if submission%} {%for sub in submission%} {%if sub.score%}
          <h1>Assignment Has Been Marked</h1>
          <br />
          <br />
          <h1>Score: {{sub.score}}</h1>
          {%else%}
          <h1>Assignment Submitted but Not marked</h1>
          {%endif%}
          <!-- <h1>your answer is {{sub.answer}}</h1> -->
          {%endfor%} {%else%}
          <h1>Submit your assignment and Get your score</h1>
          {%endif%}
        </section>
      </main>
      <aside class="loggedin-page-aside">
        <nav class="dashboard-nav">
          <ul class="dashboard-nav-list">
            <li class="dashboard-nav-li">
              <a href="{%url 'index' %}" class="dashboard-nav-link">
                <img
                  src="{% static '/img/pti2.png'%}"
                  alt=""
                  style="width: 5%"
                />
              </a>
            </li>
            <li class="dashboard-nav-li">
              <a href="{%url 'dashboard' %}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined"> dashboard </span></a
              >
            </li>
            {%if user.status == 'lecturer'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'assignment' %}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  assignment_add
                </span></a
              >
            </li>
            {%endif%} {%if user.status == 'lecturer'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_answers'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined"> rate_review </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  settings_overscan
                </span></a
              >
            </li>
            <!-- <li>
              <ul class="courses-nav-list">
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"> </a>
                </li>
              </ul>
            </li> -->
            <li class="dashboard-nav-li">
              <a href="{%url 'profile'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  manage_accounts
                </span></a
              >
            </li>
            {%if user.status == 'student'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_assignments'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  library_books
                </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link">
                <span class="material-symbols-outlined"> settings </span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    <footer>Copyright © Powered By CSIT Group 1 2022</footer>


    <script src="{%static 'js\bootstrap.min.js'%}"></script>

  </body>
</html>
