<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/css/general.css'%}" />
    <link rel="stylesheet" href="{%static '/css/style.css'%}" />
    <link rel="stylesheet" href="{%static '/css/queries.css'%}" />
    <link rel="stylesheet" href="{%static '/css/dashboard.css'%}" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />

    <!-- GOOGLE FONTS (RUBIK) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Rubik:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Ubuntu:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- IONICONS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Smooth Scroll Script -->
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <!-- Main JavaScript File -->
    <script defer src="/dist/bundle.js"></script>
    <title>Lecturer dashboard</title>
  </head>
  <body>
    <div class="loggedin-page">
      <header class="header loggedin-page-header">
        <a href="#">
          <img src="{% static '/img/logo2.png'%}" alt="" class="logo" />
        </a>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="{%url 'logout'%}" class="main-nav-link nav-cta"
                >Log Out</a
              >
            </li>
          </ul>
        </nav>

        <button class="btn btn-mobile-nav">
          <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
          <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
        </button>
      </header>
      <main class="loggedin-page-main">
        <!-- <div class="container home">
          <h1 class="home-text">Assigny Online Assignment System</h1>
          <p class="sub-home-text">Login/Register to get started</p>
        </div> -->

        <section class="new-assignment container">
          {%for message in messages%}
          <h3>{{message}}</h3>
          {%endfor%} <br />
          <br />
          <h2 class="gen-heading">New Assignment</h2>
          <br />
          <p class="course-heading">{{user.course_code}}</p>
          <form action="" class="new-assignment-form" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="new-ass-form-field">
              <label for="title" class="title-label">Title</label>
              <input
                type="text"
                class="title"
                placeholder="Assignment 1"
                name="title"
                required
              />
            </div>
            <div class="new-ass-form-field">
              <label for="datetime" class="datetime-label">Set Deadline</label>
              <input
                type="datetime-local"
                name="datetime"
                id=""
                class="datetime"
                required
              />
            </div>
            <div class="new-ass-form-field">
              <label for="description" class="description-label"
                >Description</label
              >
              <textarea
                name="description"
                id=""
                cols="30"
                rows="10"
                class="description"
                required
              ></textarea>
            </div>
            <div class="new-ass-form-field grid--col-1">
              <label for="attachment" class="attachment-label"
                >Attachment</label
              >
              <input type="file" name="attachment" id="" class="attachment"  required/>
            </div>
            <button class="send-btn">SEND &Succeeds;</button>
          </form>
          {% comment %}
          <a href="{%url 'dashboard' %}" class="main-nav-link nav-cta"
            >Go to Dashboard</a
          >
          {% endcomment %}
        </section>
      </main>
      <aside class="loggedin-page-aside">
        <nav class="dashboard-nav">
          <ul class="dashboard-nav-list">
            <li class="dashboard-nav-li">
              <a href="{%url 'index' %}" class="dashboard-nav-link">
                <img
                  src="{% static '/img/pti2.png'%}"
                  alt=""
                  style="width: 5%"
                />
              </a>
            </li>
            <li class="dashboard-nav-li">
              <a href="{%url 'dashboard' %}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined"> dashboard </span></a
              >
            </li>
            {%if user.status == 'lecturer'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'assignment' %}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  assignment_add
                </span></a
              >
            </li>
            {%endif%} {%if user.status == 'lecturer'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_answers'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined"> rate_review </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  settings_overscan
                </span></a
              >
            </li>
            <!-- <li>
              <ul class="courses-nav-list">
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"></a>
                </li>
                <li class="courses-nav-li">
                  <a href="#" class="courses-nav-link"> </a>
                </li>
              </ul>
            </li> -->
            <li class="dashboard-nav-li">
              <a href="{%url 'profile'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  manage_accounts
                </span></a
              >
            </li>
            {%if user.status == 'student'%}
            <li class="dashboard-nav-li">
              <a href="{%url 'view_assignments'%}" class="dashboard-nav-link"
                ><span class="material-symbols-outlined">
                  library_books
                </span></a
              >
            </li>
            {%endif%}
            <li class="dashboard-nav-li">
              <a href="#" class="dashboard-nav-link">
                <span class="material-symbols-outlined"> settings </span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

    <footer>Copyright © Powered By CSIT Group 1 2022</footer>
  </body>
</html>
